
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"> </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">SABEELUL-FAUZ ARABIC AND ISLAMIC SCHOOL (SFAIZ)</h1>
                <div class="text-center">
                    <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
   
    <div class="pull-left">
        <h6>
            <a href="#pablo" class="link">Create Account</a>
        </h6>
    </div>
    <div class="pull-right">
        <h6>
            <a href="#pablo" class="link">Need Help?</a>
        </h6>
    </div>
</div>

